# Car Price Prediction 
### 1) Problem statement.
* This dataset comprises used cars sold on cardehko.com in India as well as important features of these cars.
* If user can predict the price of the car based on input features.
* Prediction results can be used to give new seller the price suggestion based on market condition.
### 2) Data Collection.
* The Dataset is collected from scrapping from cardheko webiste
* The data consists of 13 column and 15411 rows.

In [36]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import plotly as px
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [37]:
df=pd.read_csv("Datasets/cardekho_data.csv",index_col=[0])

In [38]:
df.head()

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

## Data Cleaning
### Handling Missing Values

* Handling Missing values
* Handling Duplicates
* Check data type
* Understand the dataset

In [39]:
df.drop("car_name",axis=1,inplace=True)
df.drop("brand",axis=1,inplace=True)

In [40]:
df.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [41]:
df['model'].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

In [42]:
### Different types of Features
num_features=[features for features in df.columns if df[features].dtype!='O']
cat_features=[features for features in df.columns if df[features].dtype=='O']
discrete_features=[features for features in df.columns if len(df[features].unique())<=25]
continous_features=[features for features in df.columns if features not in discrete_features]
print("--------Features Types--------")
print("Numeric: ", len(num_features))
print("Categorical: ", len(cat_features))
print("Discrete: ", len(discrete_features))
print("Continous: ", len(continous_features))

--------Features Types--------
Numeric:  7
Categorical:  4
Discrete:  5
Continous:  6

In [73]:
### Independent and Dependent Features
X=df.drop('selling_price',axis =1)
Y=df['selling_price']

## Feature Engineering & Scaling

In [74]:
len(df['model'].unique())

120

In [75]:
df['model'].value_counts()

i20            906
Swift Dzire    890
Swift          781
Alto           778
City           757
              ...
Ghibli           1
Altroz           1
GTC4Lusso        1
Aura             1
Gurkha           1
Name: model, Length: 120, dtype: int64

#### Use Label Encoding to assign different different labels to model

In [76]:
from sklearn.preprocessing import LabelEncoder

In [77]:
label_encoder=LabelEncoder()
X['model']=label_encoder.fit_transform(X['model'])

In [78]:
X.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,7,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,54,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,118,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,7,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,38,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [79]:
len(df['seller_type'].unique()),len(df['fuel_type'].unique()),len(df['transmission_type'].unique())

(3, 5, 2)

In [80]:
## Create Columns Transformer with 3 types of transformer

num_features=X.select_dtypes(exclude="object").columns
onehot_column=['seller_type','fuel_type','transmission_type']

from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

numericTransformer=StandardScaler()
oh_Tranformer=OneHotEncoder(drop='first')

preprocessor =ColumnTransformer(
    [
    ("OneHotEncoder",oh_Tranformer,onehot_column),
    ("StandardScaler",numericTransformer,num_features)
],remainder='passthrough')

In [81]:
X=preprocessor.fit_transform(X)

In [82]:
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.519714,0.983562,1.247335,-0.000276,-1.324259,-1.263352,-0.403022
1,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.225693,-0.343933,-0.690016,-0.192071,-0.554718,-0.432571,-0.403022
2,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.536377,1.647309,0.084924,-0.647583,-0.554718,-0.479113,-0.403022
3,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.519714,0.983562,-0.360667,0.292211,-0.936610,-0.779312,-0.403022
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,-0.666211,-0.012060,-0.496281,0.735736,0.022918,-0.046502,-0.403022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15406,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.508844,0.983562,-0.869744,0.026096,-0.767733,-0.757204,-0.403022
15407,0.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.556082,-1.339555,-0.728763,-0.527711,-0.216964,-0.220803,2.073444
15408,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.407551,-0.012060,0.220539,0.344954,0.022918,0.068225,-0.403022
15409,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.426247,-0.343933,72.541850,-0.887326,1.329794,0.917158,2.073444
15410,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.024131,-1.339555,-0.825631,-0.407839,0.020999,0.395884,-0.403022

## Train And Test Dataset

In [83]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.25,random_state=42)

In [87]:
X_train

array([[ 0.        ,  0.        ,  0.        , ..., -0.76773286,
        -0.89566754, -0.40302241],
       [ 0.        ,  0.        ,  1.        , ...,  0.92487372,
         0.9404295 , -0.40302241],
       [ 0.        ,  0.        ,  0.        , ..., -0.55087963,
        -0.61874036, -0.40302241],
       ...,
       [ 1.        ,  0.        ,  0.        , ..., -0.9366097 ,
        -0.78070786, -0.40302241],
       [ 0.        ,  0.        ,  0.        , ..., -0.55471774,
        -0.43582879, -0.40302241],
       [ 1.        ,  0.        ,  0.        , ..., -0.04616815,
         0.06194201, -0.40302241]])

### Model Training & Model Selection

In [88]:
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [89]:
# Create Evalution Function
def evaluate_model(trueValue,predictedValue):
    mae=mean_absolute_error(trueValue,predictedValue)
    mse=mean_squared_error(trueValue,predictedValue)
    rmse=np.sqrt(mse)
    r2=r2_score(trueValue,predictedValue)
    return mae,rmse,r2

In [91]:
## Beginning Model Training
models = {
    "Linear Regression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "K-Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
   
}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, Y_train) # Train model

    # Make predictions
    Y_train_pred = model.predict(X_train)
    Y_test_pred = model.predict(X_test)
    
    # Evaluate Train and Test dataset
    model_train_mae , model_train_rmse, model_train_r2 = evaluate_model(Y_train, Y_train_pred)

    model_test_mae , model_test_rmse, model_test_r2 = evaluate_model(Y_test, Y_test_pred)

    print('*'*35)
    print(list(models.keys())[i])
    print('*'*35)
    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('-'*35)
    
    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))
    
    print('='*35)
    print('\n')

***********************************
Linear Regression
***********************************
Model performance for Training set
- Root Mean Squared Error: 552154.2495
- Mean Absolute Error: 266675.1076
- R2 Score: 0.6220
-----------------------------------
Model performance for Test set
- Root Mean Squared Error: 519891.2635
- Mean Absolute Error: 284283.4460
- R2 Score: 0.6525
===================================


***********************************
Lasso
***********************************
Model performance for Training set
- Root Mean Squared Error: 552154.2607
- Mean Absolute Error: 266674.0472
- R2 Score: 0.6220
-----------------------------------
Model performance for Test set
- Root Mean Squared Error: 519890.5730
- Mean Absolute Error: 284283.7890
- R2 Score: 0.6525
===================================


***********************************
Ridge
***********************************
Model performance for Training set
- Root Mean Squared Error: 552154.8775
- Mean Absolute Error: 266635.3662
- R2 Score: 0.6220
-----------------------------------
Model performance for Test set
- Root Mean Squared Error: 519880.3842
- Mean Absolute Error: 284241.1129
- R2 Score: 0.6525
===================================


***********************************
K-Neighbors Regressor
***********************************
Model performance for Training set
- Root Mean Squared Error: 329513.6739
- Mean Absolute Error: 90967.3646
- R2 Score: 0.8654
-----------------------------------
Model performance for Test set
- Root Mean Squared Error: 280676.9784
- Mean Absolute Error: 116579.3732
- R2 Score: 0.8987
===================================


***********************************
Decision Tree
***********************************
Model performance for Training set
- Root Mean Squared Error: 20644.8585
- Mean Absolute Error: 4991.7517
- R2 Score: 0.9995
-----------------------------------
Model performance for Test set
- Root Mean Squared Error: 321532.5221
- Mean Absolute Error: 134319.6622
- R2 Score: 0.8671
===================================


***********************************
Random Forest Regressor
***********************************
Model performance for Training set
- Root Mean Squared Error: 138732.8488
- Mean Absolute Error: 39774.4698
- R2 Score: 0.9761
-----------------------------------
Model performance for Test set
- Root Mean Squared Error: 240498.8608
- Mean Absolute Error: 104460.2750
- R2 Score: 0.9256
===================================

In [92]:
#Initialize few parameter for Hyperparamter tuning
knn_params = {"n_neighbors": [2, 3, 10, 20, 40, 50]}
rf_params = {"max_depth": [5, 8, 15, None, 10],
             "max_features": [5, 7, "auto", 8],
             "min_samples_split": [2, 8, 15, 20],
             "n_estimators": [100, 200, 500, 1000]}

In [94]:
# Models list for Hyperparameter tuning
randomcv_models = [('KNN', KNeighborsRegressor(), knn_params),
                   ("RF", RandomForestRegressor(), rf_params)
                   
                   ]

In [96]:
##Hyperparameter Tuning
from sklearn.model_selection import RandomizedSearchCV

model_param = {}
for name, model, params in randomcv_models:
    random = RandomizedSearchCV(estimator=model,
                                   param_distributions=params,
                                   n_iter=100,
                                   cv=3,
                                   verbose=2,
                                   n_jobs=-1)
    random.fit(X_train, Y_train)
    model_param[name] = random.best_params_

for model_name in model_param:
    print(f"---------------- Best Params for {model_name} -------------------")
    print(model_param[model_name])

Fitting 3 folds for each of 6 candidates, totalling 18 fits
Fitting 3 folds for each of 100 candidates, totalling 300 fits
---------------- Best Params for KNN -------------------
{'n_neighbors': 10}
---------------- Best Params for RF -------------------
{'n_estimators': 500, 'min_samples_split': 2, 'max_features': 5, 'max_depth': None}

In [98]:
## Retraining the models with best parameters
models = {
    "Random Forest Regressor": RandomForestRegressor(n_estimators=500, min_samples_split=2, max_features=5, max_depth=None, 
                                                     n_jobs=-1),
     "K-Neighbors Regressor": KNeighborsRegressor(n_neighbors=10, n_jobs=-1)
    
}
for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, Y_train) # Train model

    # Make predictions
    Y_train_pred = model.predict(X_train)
    Y_test_pred = model.predict(X_test)

    model_train_mae , model_train_rmse, model_train_r2 = evaluate_model(Y_train, Y_train_pred)

    model_test_mae , model_test_rmse, model_test_r2 = evaluate_model(Y_test, Y_test_pred)
    
    print(list(models.keys())[i])
    
    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('----------------------------------')
    
    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))
    
    print('='*35)
    print('\n')

Random Forest Regressor
Model performance for Training set
- Root Mean Squared Error: 131506.0760
- Mean Absolute Error: 38916.5296
- R2 Score: 0.9786
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 227375.4502
- Mean Absolute Error: 100875.8248
- R2 Score: 0.9335
===================================


K-Neighbors Regressor
Model performance for Training set
- Root Mean Squared Error: 365568.3625
- Mean Absolute Error: 102914.2499
- R2 Score: 0.8343
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 296638.8571
- Mean Absolute Error: 121765.4879
- R2 Score: 0.8869
===================================

## Observation

#### The Random Forest model shows high accuracy, especially in the training set. The drop in the test set performance (increase in errors and decrease in R²) suggests slight overfitting but still performs quite well.

#### The K-Neighbors Regressor shows less accuracy on both the training and test sets compared to the Random Forest model. Its performance is more consistent across the two sets, but overall the errors are higher, and the R² score is lower.